<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="c.lone.dao.FindMapper">
    <!--
        EXISTS가 COUNT 쿼리보다 좀더 빠른 성능 가짐
        데이터를 조회하다 해당 데이터가 존재할 경우 데이터를 끝까지 조회하지 않고 그순간 종료
    -->
    <select id="emailCheck" resultType="String">
        SELECT 1 RESULT
        FROM DUAL
        WHERE EXISTS (
            SELECT 1
            FROM DL_USER
            WHERE USERNAME = #{username}
            AND EMAIL = #{email}
        )
    </select>
    <select id="phoneCheck" resultType="String">
        SELECT 1 RESULT
        FROM DUAL
        WHERE EXISTS (
            SELECT 1
            FROM DL_USER
            WHERE USERNAME = #{username}
            AND PHONE = #{phone}
        )

    </select>
    <select id="findId" resultType="String">
        SELECT USERNAME
        FROM DL_USER
        WHERE EMAIL = #{email}
    </select>
</mapper>